@media (min-width: 1200px) {
    .container{
        max-width: 1300px ;
    }
}

// from 0 to 1024 it will apper
@media (max-width: 1024px) {
    .topbar{
        display: none;
    }
}

@media (max-width: 778px) {
    .sub-article .read-more{
        margin-top: 20px;
    }
    .section .headline{
        text-align:center
    }
    .sec-name h3:after{
        right: 40%;
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: -6px;
    }
}

@media (min-width: 991px) {
    .logo-nav{
        display: none;
        li{list-style-type: none;}
        
    }
}
@media (max-width: 991px) {
    .latest-posts{
        margin-top: 50px;
    }
    .newsletter{
        text-align: center;
        .desc{
            margin-bottom: 20px;
        }
    }
    .footer .contect-details .copy-right::after, .footer .contect-details .copy-right::before{
        bottom: 31px;

    }.contect-details{
        margin-top: 30px;
        text-align: center;
        .headline:after{
            right: 43%;
            width: 71px;
        }
    }
    .main-navbar .input-box,
    .main-navbar .navbar-expand-lg .navbar-nav .active a.nav-link{
        display: none;
    }
    .logo-nav{
        position: absolute;
        left: 0;
        top: 5px;
    }
}
@media (max-width: 768px) {
    .newsletter form input{
        margin-bottom: 20px;
    }
    .newsletter .form-check-label{
        margin-bottom: 20px;
    }
    .footer .logo_area{
        display: none;
    }
    
}
@media (max-width: 576px) {
    .prodcast-item .prodcast-content .category{
        display: none;
    }
}
@media (max-width: 768px) {}
@media (max-width: 768px) {}
@media (max-width: 768px) {}