@media (min-width: 1200px) {
    .container{
        max-width: 1300px ;
    }
}

// from 0 to 1024 it will apper
@media (max-width: 1024px) {
    .topbar{
        display: none;
    }
}

@media (max-width: 778px) {
    .sub-article .read-more{
        margin-top: 20px;
    }
    .section .headline{
        text-align:center
    }
    .sec-name h3:after{
        right: 40%;
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: -6px;
    }
}

@media (min-width: 991px) {
    .logo-nav{
        display: none;
        li{list-style-type: none;}
        
    }
}
@media (max-width: 991px) {
    .latest-posts{
        margin-top: 50px;
    }
    .newsletter{
        text-align: center;
        .desc{
            margin-bottom: 20px;
        }
    }
    .footer .contect-details .copy-right::after, .footer .contect-details .copy-right::before{
        bottom: 31px;

    }.contect-details{
        margin-top: 30px;
        text-align: center;
        .headline:after{
            right: 43%;
            width: 71px;
        }
    }
    .main-navbar .input-box,
    .main-navbar .navbar-expand-lg .navbar-nav .active a.nav-link{
        display: none;
    }
    .logo-nav{
        position: absolute;
        left: 0;
        top: 5px;
    }
    .category-page .col-4{
        -ms-flex: 0 0 49.333333%;
        flex: 0 0 49.333333%;
        max-width: 49.333333%;
    }
    .category-page .layout-list .box-item .box-content .box-title{
        font-size: 22px;
    }
    .category-page .layout-list .box-item .box-content .box-desc{
        font-size: 14px;
    }
    .category-page .layout-list .box-item .box-content .category a{
        font-size: 14px;
    }
    .sidbare-wedgit ,.latest-posts.wedgit{
        display: none;
    }
}
.page-content.category-page .sort-tablist .slick-slider{
    height: 50px;
}
@media (max-width: 768px) {
    .newsletter form input{
        margin-bottom: 20px;
    }
    .newsletter .form-check-label{
        margin-bottom: 20px;
    }
    .footer .logo_area {
        button{
            width: 100%;
            margin-bottom: 25px;
        }
        img{
        display: none;
        }
    }
    .page-content.about-page .section .content .box .slick-list{
        height: 133px !important;
    }.page-content.about-page .section .content .head h2{
        margin-top: 25px;
    }
    .sign-page .register-box{    
        height: 636px !important;
        margin-bottom: 100px;
    }
}
@media (max-width: 576px) {
    .prodcast-item .prodcast-content .category{
        display: none;
    }
    .category-page .col-4{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width: 768px) {}
@media (max-width: 768px) {}
@media (max-width: 768px) {}