.swiper-slide,.latest-post-content .latest-item,.our-perpos-sec,
.sidbare-wedgit,.category-page .layout-list .box-item,
.category-page .layout-grid .box-item{
    background-color: #0e0e0e;
}
.page-link{
    background-color: #0e0e0e;
    border: 1px solid #171717;
}
.page-link:hover{
    background-color: #232323;
    border-color: #4d4d4d;
}
a,.btn-link,
.sec-review .comments .comment-box .com-details .com-date{
    color: #dedede;
}
a:hover,.btn-link:hover {
    color: #fff;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link,
.card{
    background-color: #0e0e0e;
    border: 1px solid #a6a6a6;
}
.card-header{
    border-bottom: 1px solid rgb(175 175 175 / 42%);
}
.faq-sec .card .btn-link{
    color: #fff;
}
.sec-review .form-control ,
.sec-review .form-control{
    background-color: #0e0e0e;
    color: white;
}

::placeholder { color: #fff; }

.sec-review .border{
    border: 1px solid rgb(209 209 209) !important;
}


.sec-review .comments .comment-box,
.sec-review .add-comment{
    background-color: #101010;
}
.main-forms .form-control{
    background-color: #101010;
}
.topbar .navbar-nav .nav-link{
    color: #d4d4d4;
}
.topbar .bg-dark{
    background-color: #0e0e0e!important;
}
.main-navbar .input-box .search,
.main-navbar .bg-light{
    
    background-color: #0e0e0e !important;
}
.navbar-light .navbar-toggler{
    color: #d4d4d4;
    border-color:#d4d4d4;
}
.navbar-light .navbar-toggler-icon{
    background-image: none;
    content: "\f039";
}