* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: right;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

a {
  color: black;
  color: var(--text-color);
}

a:hover {
  text-decoration: none;
}

button:focus {
  outline: none !important;
}

.section {
  padding: 50px 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--text-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.border {
  display: block;
  height: 1px;
  width: 100%;
  margin: 10px auto;
  background-color: var(--text-color);
}

.after {
  display: block;
  width: 150px;
  height: 4px;
  background: #bb1919;
  margin: 10px auto;
  margin-bottom: 40px;
}

.page-content.about-page .section .content .main-head h2.had-fater {
  margin-bottom: 0 !important;
}

/*
**********************
**********************
*/
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1100;
  background-color: var(--primary-color);
}

.loader {
  position: absolute;
  top: calc(45% - 32px);
  left: calc(50% - 32px);
  width: 74px;
  height: 74px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #bb1919;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #bb1919;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #bb1919;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
:root {
  --primary-color: #ffffff;
  --text-color: #000000;
}

.topbar .navbar-nav .nav-link {
  transition: all 0.3s ease-in-out;
}
.topbar .navbar-nav .nav-link i, .topbar .navbar-nav .nav-link svg {
  font-size: 12px;
}
.topbar .navbar {
  padding: 0 !important;
}

.main-navbar .bg-light {
  background-color: var(--primary-color) !important;
}
.main-navbar .navbar-nav .dropdown-menu {
  text-align: right;
  border-radius: 0;
  background-color: var(--primary-color);
}
.main-navbar .navbar-nav .dropdown-menu .dropdown-item {
  padding: 0.25rem 0.5rem;
  color: var(--text-color);
}
.main-navbar .navbar-nav .dropdown-menu .dropdown-item:focus, .main-navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
  color: black;
}
.main-navbar .dropdown-toggle::after {
  margin-left: 4.235em;
  position: relative;
  left: -7px;
  top: 2px;
}
.main-navbar .navbar-light .navbar-nav .nav-link {
  color: var(--text-color) !important;
  transition: all 0.5s ease-in-out;
}
.main-navbar .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-weight: 500;
}
.main-navbar .navbar-light .navbar-nav .nav-link:focus, .main-navbar .navbar-light .navbar-nav .nav-link:hover {
  color: #bb1919;
}
.main-navbar .navbar-expand-lg .navbar-nav .active a.nav-link {
  padding-right: 0;
}
.main-navbar .input-box {
  position: relative;
  width: 100%;
  max-width: 60px;
  height: 55px;
  margin: 0 50px;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
}
.main-navbar .input-box.open {
  max-width: 350px;
}
.main-navbar .input-box input {
  position: relative;
  width: 100%;
  height: 78%;
  font-size: 16px;
  margin-top: 7px;
  font-weight: 400;
  color: #333;
  padding: 0 15px;
  border: none;
  border-radius: 2px;
  outline: 1px solid #ebebeb;
  transition: all 0.5s ease-in-out;
}
.main-navbar .input-box.open input {
  padding: 0 15px 0 65px;
}
.main-navbar .input-box .search {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 79%;
  margin-top: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bb1919;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
}
.main-navbar .input-box.open .search {
  border-radius: 6px 0 0 6px;
}
.main-navbar .search .search-icon {
  font-size: 30px;
}
.main-navbar .input-box .close-icon {
  position: absolute;
  top: 49%;
  right: -45px;
  font-size: 20px;
  color: var(--text-color) !important;
  padding: 5px;
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
}
.main-navbar .input-box.open .close-icon {
  transform: translateY(-50%) rotate(180deg);
  pointer-events: auto;
  opacity: 1;
}
.main-navbar .submit-hide {
  display: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: var(--primary-color);
  color: var(--text-color);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 13px;
  height: 7gtpx;
  display: inline-block;
  border-radius: inherit;
  background: #fff;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  background: #fff;
  opacity: 1;
}

.carousel-control-next, .carousel-control-prev {
  background-color: #bc0707;
  top: 5%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.carousel-control-next {
  left: 60px;
}

.carousel-control-next {
  right: auto;
}

.main-carousel-sec {
  padding: 50px 0;
}
.main-carousel-sec .section-head {
  text-align: right;
  margin-bottom: 35px;
}
.main-carousel-sec .section-head h2 {
  font-size: 20px;
}
.main-carousel-sec .section-head h2:after {
  position: absolute;
  content: "";
  right: 17px;
  top: 34px;
  width: 60px;
  height: 3px;
  background: #bb1919;
}
.main-carousel-sec .carousel-item img {
  height: 448px;
}
.main-carousel-sec .carousel-item .carousel-caption {
  right: 5%;
  left: 5%;
  text-align: right;
  bottom: 0;
}
.main-carousel-sec .carousel-item .carousel-caption a {
  color: white;
}
.main-carousel-sec .carousel-item .carousel-caption .date {
  font-size: 12px;
  font-weight: 400;
}

.main-carousel-sec .carousel-item:before {
  content: "";
  background: #222;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=100);
  opacity: 0.85;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 40%, rgb(0, 0, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0, 0, 0, 0)), color-stop(100%, rgb(0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 40%, rgb(0, 0, 0) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 40%, rgb(0, 0, 0) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 40%, rgb(0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgb(0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#b3000000", GradientType=0);
}

.latest-posts {
  overflow: hidden;
}
.latest-posts .section-head {
  text-align: right;
  margin-bottom: 35px;
}
.latest-posts .section-head h2 {
  font-size: 20px;
}
.latest-posts .section-head h2:after {
  position: absolute;
  content: "";
  right: 17px;
  top: 34px;
  width: 60px;
  height: 3px;
  background: #bb1919;
}
.latest-posts .slick-arrow {
  position: absolute;
  top: -32px;
  left: 0;
  margin: 0 2px;
  border: 0;
  width: 25px;
  height: 27px;
  background-color: #fff;
  color: #000;
  line-height: 29px;
}
.latest-posts .slick-next {
  left: 27px;
}
.latest-posts .slider, .latest-posts .nav {
  width: 100%;
  margin: 0;
  margin-top: 30px;
}
.latest-posts .slick-slide {
  color: white;
  font-size: 30px;
  text-align: center;
}
.latest-posts .slick-current {
  font-weight: bold;
  font-size: 2.5rem;
}
.latest-posts .slick-prev:before,
.latest-posts .slick-next:before {
  color: black;
}
.latest-posts .slick-dots {
  bottom: -30px;
}

.latest-post-content .slick-active {
  font-size: 16px;
  font-weight: 100;
}
.latest-post-content .latest-item {
  margin-bottom: 7px;
  background-color: var(--primary-color);
  color: var(--text-color);
}
.latest-post-content .latest-item .col-md-7 {
  padding-right: 0;
}
.latest-post-content .latest-item .news-image {
  margin: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}
.latest-post-content .latest-item .news-content {
  text-align: right;
  color: #000;
}
.latest-post-content .latest-item .news-content .category {
  color: #bb1919;
  font-weight: 700;
  font-size: 13px;
  margin-top: 10px;
}
.latest-post-content .latest-item .news-content .headline {
  color: #404040;
  font-size: 16px;
  line-height: 1.3;
}
.latest-post-content .latest-item .news-content .headline:hover a {
  transition: all 0.3s ease-in-out;
  color: #bb1919;
}

.page-content {
  text-align: right;
  margin-top: 20px;
}
.page-content .article {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px;
}
.page-content .article .article-head .category {
  margin-bottom: 15px;
}
.page-content .article .article-head .category span {
  color: #fff;
  background-color: #bb1919;
  padding: 2px 6px;
  font-weight: bold;
  font-size: 13px;
}
.page-content .article .article-head .title {
  margin-bottom: 10px;
}
.page-content .article .article-head .date {
  color: #5d5d5d;
  font-size: 13px;
}
.page-content .article .article-head .article-thumbnail {
  margin-bottom: 20px;
}
.page-content .article .article-head .article-thumbnail img {
  width: 100%;
  max-height: 500px;
}
.page-content .article .article-content {
  font-size: 21px;
  line-height: 40px;
}

.sec-review {
  padding: 20px 20px;
  background-color: #0c0c0c;
}
.sec-review .border {
  margin-bottom: 30px !important;
  margin-top: 30px !important;
  border: 1px solid #000000 !important;
}
.sec-review .comments .counter {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 40px;
  position: relative;
}
.sec-review .comments .counter:after {
  position: absolute;
  content: "";
  right: 0px;
  bottom: -4px;
  width: 100px;
  height: 3px;
  background: rgb(187, 25, 25);
}
.sec-review .comments .comment-box {
  margin-bottom: 20px;
  background-color: #eee;
  padding: 10px;
  padding-top: 23px;
}
.sec-review .comments .comment-box .avatar img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.sec-review .comments .comment-box .com-details .com-name {
  font-weight: bold;
}
.sec-review .comments .comment-box .com-details .com-body {
  margin-top: 8px;
}
.sec-review .add-comment {
  padding: 10px;
  margin-top: 30px;
}
.sec-review .add-comment .form-group label {
  color: var(--text-color);
  font-size: 20px;
  margin-top: 20px;
}
.sec-review .add-comment button {
  background-color: #bb1919;
  border: 2px solid white;
  color: whitesmoke;
  border-radius: 0;
  margin-top: 5px;
}
.sec-review .add-comment button:hover {
  border-color: #5c0b0b;
  background-color: #bb1919;
}

.category-page .wrapper-header {
  width: 100%;
  height: 69px;
  display: flex;
  flex: 30% 70%;
  justify-content: space-between;
}
.category-page .wrapper-header .page-title h2 {
  font-size: 39px;
}
.category-page .wrapper-header .sort-tablist {
  text-align: left;
}
.category-page .wrapper-header .sort-tablist ul li {
  display: inline-block;
  width: 40px !important;
  color: #bbb;
  cursor: pointer;
  padding-top: 14px;
}
.category-page .wrapper-header .sort-tablist ul li.active {
  color: #fff;
}
.category-page .wrapper-header .sort-tablist ul li a.nav-link:hover {
  color: var(--text-color);
}
.category-page .layout-grid .category {
  position: absolute;
  top: 135px;
  right: 20px;
  background-color: #bb1919;
  padding: 0px 5px;
  font-size: 14px;
}
.category-page .col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.category-page .box-item {
  margin-bottom: 30px;
}
.category-page .box-item .box-bg {
  position: relative;
}
.category-page .box-item .box-bg img {
  width: 100%;
  height: 160px;
}
.category-page .box-item .box-content {
  margin-top: 5px;
  padding: 6px;
}
.category-page .box-item .box-content .box-date {
  color: #ccc;
  font-size: 11px;
}
.category-page .box-item .box-content .box-title a {
  transition: all 0.3s ease-in-out;
}
.category-page .box-item .box-content .box-title a:hover {
  color: #ccc;
}
.category-page .layout-list .col-4 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.category-page .layout-list .box-item {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.category-page .layout-list .box-item .box-bg {
  flex-basis: 30%;
  max-width: 30%;
}
.category-page .layout-list .box-item .box-bg img {
  width: 100%;
  height: 160px;
}
.category-page .layout-list .box-item .box-content {
  margin-right: 25px;
  padding-top: 10px;
  flex-basis: 70%;
  max-width: 70%;
}
.category-page .layout-list .box-item .box-content .category a {
  color: #bb1919;
  margin-top: 35px;
  font-weight: 500;
  line-height: 1.2;
  font-size: 25px;
}
.category-page .layout-list .box-item .box-content .box-date {
  display: none;
}
.category-page .layout-list .box-item .box-content .box-title {
  font-size: 1.75rem;
}
.category-page .layout-list .box-item .box-content .box-desc {
  display: block !important;
}
.category-page .pagination-box {
  margin-top: 40px;
}
.category-page .pagination-box .page-link {
  color: var(--text-color);
  font-size: 17px;
}
.category-page .pagination-box .page-item:first-child .page-link {
  border-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.category-page .pagination-box .page-item:last-child .page-link {
  border-radius: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.innerpage_banner.about-us {
  background-image: url(../img/about_us.jpg);
  background-size: cover;
  position: relative;
  top: -1px;
  width: 100%;
  height: 300px;
}
.innerpage_banner.about-us::before {
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  background: rgba(34, 34, 34, 0.6705882353);
}
.innerpage_banner.about-us .content {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
}
.innerpage_banner.about-us .content h1 {
  margin-top: 103px;
  position: relative;
}
.innerpage_banner.about-us .content h1 ~ span {
  display: block;
  margin: 5px auto;
  width: 80px;
  height: 4px;
  background: #bb1919;
}

.our-client {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 50px 0;
}
.our-client .head {
  text-align: center;
}
.our-client .head h2 ~ span {
  display: block;
  width: 150px;
  height: 4px;
  background: #bb1919;
  margin: 10px auto;
  margin-bottom: 40px;
}

.page-content.about-page {
  margin-top: 0;
}
.page-content.about-page .section.aboutUs-sec {
  background-color: var(--primary-color);
  color: var(--text-color);
}
.page-content.about-page .section .content {
  padding-top: 12px;
}
.page-content.about-page .section .content .main-head h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 60px;
  text-align: center;
}
.page-content.about-page .section .content .box {
  margin-bottom: 35px;
}
.page-content.about-page .section .content .box .slick-list {
  height: 500px !important;
  overflow: hidden;
}
.page-content.about-page .section .content .box .slick-arrow {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: 1px solid #eee;
}
.page-content.about-page .section .content .box a:hover {
  color: #bb1919;
}
.page-content.about-page .section .content .box .tab-content .desc p {
  font-size: 17px;
}
.page-content.about-page .section .content .box .tab-content .desc .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 30px;
}
.page-content.about-page .section .content .box .tab-content .desc strong {
  font-weight: bold;
}
.page-content.about-page .section .content .box .tab-content .desc ul li {
  margin-bottom: 15px;
  list-style-position: inside;
  margin-right: 10px;
}
.page-content.about-page .section .content .head h2 {
  margin-bottom: 24px;
  font-weight: bold;
  position: relative;
}
.page-content.about-page .section .content .head h2:after {
  position: absolute;
  content: "";
  right: 0px;
  top: 45px;
  width: 80px;
  height: 4px;
  background: #bb1919;
}
.page-content.about-page .section .content .sec-desc p {
  font-size: 21px;
}
.page-content.about-page .section .our-perpos-sec img, .page-content.about-page .section img {
  width: 100%;
  max-height: 100%;
}

.faq-sec .card {
  margin-bottom: 20px;
}
.faq-sec .card .btn-link {
  font-weight: bold;
  color: #010101;
}
.faq-sec .card .card-body {
  padding: 15px 35px;
}
.faq-sec .card .card-body ul {
  margin-right: 41px;
}
.faq-sec .card .card-body ul li {
  margin-top: 10px;
}

.btn.focus, .btn:focus {
  box-shadow: none;
}

.btn-link.focus, .btn-link:hover, .btn-link {
  text-decoration: none !important;
}

.sec-name {
  margin-bottom: 20px;
  position: relative;
}
.sec-name h3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 41px;
  width: 100px;
  height: 3px;
  background: #bb1919;
}

.podcast-sec {
  position: relative;
}

.main-article .carousel-item img {
  height: 200px;
  width: 100%;
}
.main-article .carousel-caption {
  position: relative;
  color: var(--text-color);
  text-align: right;
  right: 3%;
}
.main-article .carousel-caption .category {
  color: #bb1919;
  margin-top: 35px;
}
.main-article .carousel-item:before {
  content: none !important;
}

.sub-article {
  margin-top: 20px;
}
.sub-article .read-more {
  display: flex;
  justify-content: center;
  margin-top: 132px;
}

.prodcast-item {
  margin: 0 20px;
  width: 100%;
}
.prodcast-item .prodcast-content .category a {
  color: #bb1919;
  font-size: 14px;
}
.prodcast-item .prodcast-content img {
  height: 200px;
}
.prodcast-item .prodcast-content .prodcast-title {
  font-size: 19px;
  margin: 10px 0;
  margin-bottom: 20px;
}

.carousel-item .carousel-caption .prodcast-headline a {
  color: var(--text-color);
}

.hot-news .sec-name {
  margin-bottom: 33px;
}
.hot-news .sec-name h3 {
  font-size: 20px;
}
.hot-news .prodcast-item {
  margin: 0 20px;
  width: 100%;
  height: 306px;
}

.newsletter {
  margin: 20px 0;
  margin-bottom: 0;
  border-top: 1px solid rgb(228, 228, 228);
  border-bottom: 1px solid rgb(228, 228, 228);
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 50px 0;
}
.newsletter .headline h3 {
  color: #C8492D !important;
}
.newsletter p {
  margin-bottom: -2px;
}
.newsletter .note::before {
  content: "*";
  color: red;
  font-size: 22px;
  position: relative;
  top: 7px;
  left: 3px;
}
.newsletter .title {
  margin-top: 5px;
  margin-bottom: 15px;
  font-weight: bold;
}
.newsletter form .form-check {
  margin-bottom: 20px;
}
.newsletter form input {
  border-radius: 0;
  height: 40px;
  padding: 1rem;
  line-height: 0.5;
}
.newsletter form input[type=submit] {
  border: 1px solid #a40a0a;
  width: 90%;
  background: #bb1919;
}
.newsletter form .form-check:first-of-type {
  margin-right: -2px;
}
.newsletter form .form-check-inline .form-check-input {
  margin-left: 10px;
  width: 17px;
  height: 20px;
}

.latest-posts.wedgit {
  position: relative;
  padding: 10px;
  margin-bottom: 29px;
}
.latest-posts.wedgit .section-head h2:after {
  right: 10px;
  top: 43px;
}

.sidbare-wedgit {
  position: relative;
  margin-bottom: 29px;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px;
  padding-bottom: 20px;
}
.sidbare-wedgit h2 {
  margin-bottom: 30px;
}
.sidbare-wedgit h2:after {
  position: absolute;
  content: "";
  right: 9px;
  top: 55px;
  width: 60px;
  height: 3px;
  background: #bb1919;
}

.search-wedgit .section-head {
  text-align: right;
  margin-bottom: 35px;
}
.search-wedgit .section-head h2 {
  font-size: 20px;
}
.search-wedgit .section-head h2:after {
  top: 41px;
}

.tag-cloud-wedgit .section-head h2:after {
  top: 57px;
}
.tag-cloud-wedgit .tagcloud a {
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 10px;
  margin-right: 4px;
  border-radius: 4px;
  color: var(--text-color);
  border: 1px solid #ccc;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}
.tag-cloud-wedgit .tagcloud a:hover {
  background-color: #292929;
}

.category-wedgit .category-link ul li {
  list-style-type: none;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #dee2e6;
}
.category-wedgit .category-link ul li a {
  padding: 10px;
}
.category-wedgit .category-link ul li span {
  float: left;
}
.category-wedgit .category-link ul li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

/* webkit */
::-webkit-input-placeholder {
  text-align: right;
}

/* mozilla */
input:-moz-placeholder {
  text-align: right;
}

input::placeholder {
  text-align: right;
}

/* Login And Register Page */
.register-box .form-group label {
  color: #fff;
}
.register-box .form-group select {
  height: 45px;
  color: #9e9e9e !important;
}
.register-box .form-group select.form-control:focus {
  padding: 6px 0;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
  border-color: #ff365d;
}
.register-box .form-group select option {
  background-color: #243b55;
  color: white;
}

.sign-page .register-box {
  margin-top: 130px !important;
  height: 556px !important;
}
.sign-page .register-box input[type=file]#file-upload {
  display: none;
}
.sign-page .register-box .custom-file-upload {
  border: 1px solid #ff365d;
  height: 48px;
  padding: 11px 12px;
  color: #ff365d;
  background: #dee7f7;
  width: 100%;
}

.register-page {
  background: linear-gradient(#141e30, #243b55);
  display: grid;
  min-height: 100vh;
  justify-content: center;
}
.register-page .login-box {
  margin-top: 190px;
  width: 600px;
  height: 400px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.register-page .login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.register-page .login-box .user-box {
  position: relative;
}
.register-page .login-box .user-box input, .register-page select {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #ff365d;
  outline: none;
  background: transparent;
}
.register-page .login-box .user-box label {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.register-page .login-box .user-box input:focus ~ label,
.register-page .login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ff365d;
  font-size: 12px;
}
.register-page .login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ff365d;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}
.register-page .login-box button:hover {
  background: #ff365d;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #ff365d, 0 0 25px #ff365d, 0 0 50px #ff365d, 0 0 100px #ff365d;
  border-color: #ff365d;
}
.register-page .login-box button span {
  position: absolute;
  display: block;
}
.register-page .login-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ff365d);
  animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.register-page .login-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ff365d);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
.register-page .login-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ff365d);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
.register-page .login-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ff365d);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

.register.main-forms {
  width: 800px;
  margin: auto;
  padding: 40px 20px;
}
.register.main-forms .form-group {
  margin-bottom: 20px;
}
.register.main-forms .form-group label {
  color: var(--text-color);
}
.register.main-forms .other-page {
  color: var(--text-color);
}
.register.main-forms .form-control {
  border-radius: 0;
  font-size: 17px;
}
.register.main-forms [type=submit] {
  border-radius: 0 !important;
  background: #ff365d;
  color: #fff;
  border-radius: 5px;
  border-color: #ff365d;
}

.footer {
  text-align: right;
  padding: 50px 0;
  background-color: var(--primary-color);
  color: var(--text-color);
}
.footer .logo_area {
  text-align: center;
}
.footer .logo_area img, .footer .logo_area button {
  width: 169px;
  margin-top: 40px;
}
.footer .logo_area button {
  padding: 4px 0;
  border: 1px;
  background-color: var(--text-color);
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}
.footer .logo_area button:hover {
  box-shadow: 3px 3px 1px #afbaae;
}
.footer .lanks-tag ul li {
  list-style-type: none;
  margin: 10px 0;
}
.footer .contect-details .copy-right {
  position: relative;
}
.footer .contect-details .copy-right::after, .footer .contect-details .copy-right::before {
  position: absolute;
  content: "";
  bottom: 50px;
  width: 90%;
  height: 1px;
  background: #e1e1e1;
  display: block;
  margin: auto;
}
.footer .contect-details .copy-right::after {
  bottom: -11px;
}
.footer .contect-details ul {
  display: flex;
  justify-content: center;
}
.footer .contect-details ul li {
  list-style-type: none;
  display: inline-block;
  margin-top: 20px;
}
.footer .contect-details ul li a {
  padding: 20px 25px;
}
.footer .contect-details .links ul li {
  margin-top: 5px;
}
.footer .contect-details .links ul li a {
  font-size: 14px;
  padding: 5px;
}
.footer .headline {
  font-weight: bold;
  margin-bottom: 15px;
  position: relative;
}
.footer .headline:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: -7px;
  width: 60px;
  height: 3px;
  background: #bb1919;
}

#scroll-up {
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  z-index: 100;
  display: none;
}
#scroll-up #scroll-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #bb1919;
  border: 2px solid white;
  color: whitesmoke;
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}
#scroll-up #scroll-btn:hover {
  border-color: #5c0b0b;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
}
@media (max-width: 1024px) {
  .topbar {
    display: none;
  }
}
@media (max-width: 778px) {
  .sub-article .read-more {
    margin-top: 20px;
  }
  .section .headline {
    text-align: center;
  }
  .sec-name h3:after {
    right: 40%;
  }
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -6px;
  }
}
@media (min-width: 991px) {
  .logo-nav {
    display: none;
  }
  .logo-nav li {
    list-style-type: none;
  }
}
@media (max-width: 991px) {
  .latest-posts {
    margin-top: 50px;
  }
  .newsletter {
    text-align: center;
  }
  .newsletter .desc {
    margin-bottom: 20px;
  }
  .footer .contect-details .copy-right::after, .footer .contect-details .copy-right::before {
    bottom: 31px;
  }
  .contect-details {
    margin-top: 30px;
    text-align: center;
  }
  .contect-details .headline:after {
    right: 43%;
    width: 71px;
  }
  .main-navbar .input-box,
.main-navbar .navbar-expand-lg .navbar-nav .active a.nav-link {
    display: none;
  }
  .logo-nav {
    position: absolute;
    left: 0;
    top: 5px;
  }
  .category-page .col-4 {
    -ms-flex: 0 0 49.333333%;
    flex: 0 0 49.333333%;
    max-width: 49.333333%;
  }
  .category-page .layout-list .box-item .box-content .box-title {
    font-size: 22px;
  }
  .category-page .layout-list .box-item .box-content .box-desc {
    font-size: 14px;
  }
  .category-page .layout-list .box-item .box-content .category a {
    font-size: 14px;
  }
  .sidbare-wedgit, .latest-posts.wedgit {
    display: none;
  }
}
.page-content.category-page .sort-tablist .slick-slider {
  height: 50px;
}

@media (max-width: 768px) {
  .newsletter form input {
    margin-bottom: 20px;
  }
  .newsletter .form-check-label {
    margin-bottom: 20px;
  }
  .footer .logo_area button {
    width: 100%;
    margin-bottom: 25px;
  }
  .footer .logo_area img {
    display: none;
  }
  .page-content.about-page .section .content .box .slick-list {
    height: 133px !important;
  }
  .page-content.about-page .section .content .head h2 {
    margin-top: 25px;
  }
  .sign-page .register-box {
    height: 636px !important;
    margin-bottom: 100px;
  }
}
@media (max-width: 576px) {
  .prodcast-item .prodcast-content .category {
    display: none;
  }
  .category-page .col-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
